{% extends 'etica_app/base.html' %}

{% block titulo %}Bibliografía - Clase de Ética Profesional{% endblock %}

{% block contenido %}
<h1 class="text-3xl font-bold mb-6">Bibliografía</h1>

<ul class="list-disc pl-5">
    <li class="mb-2">
        <a href="https://www.adecco.es/insights/seleccion-reclutamiento/reclutamiento-y-seleccion-de-personal-cuales-son-las-principales-diferencias" class="text-blue-500 hover:underline">https://www.adecco.es/insights/seleccion-reclutamiento/reclutamiento-y-seleccion-de-personal-cuales-son-las-principales-diferencias</a>
        <a href="https://www.scielo.org.mx/scielo.php?script=sci_arttext&pid=S0185-26982013000400016" class="text-blue-500 hover:underline">https://www.scielo.org.mx/scielo.php?script=sci_arttext&pid=S0185-26982013000400016</a>
        <a href="https://www.leben-beruf.mx/post/bienestar-en-el-trabajo-una-perspectiva-existencial" class="text-blue-500 hover:underline">https://www.leben-beruf.mx/post/bienestar-en-el-trabajo-una-perspectiva-existencial</a>
        <a href="https://www.significados.com/etica-y-moral/" class="text-blue-500 hover:underline">https://www.significados.com/etica-y-moral/</a>
        <a href="https://www.ceupe.com/blog/actitud-laboral.html" class="text-blue-500 hover:underline">https://www.ceupe.com/blog/actitud-laboral.html</a>
        <a href="https://incp.org.co/panorama/panorama-estrategico/etica-panorama-estrategico/2015/10/etica-en-la-gestion-de-recursos-humanos/" class="text-blue-500 hover:underline">https://incp.org.co/panorama/panorama-estrategico/etica-panorama-estrategico/2015/10/etica-en-la-gestion-de-recursos-humanos/</a>
        <a href="https://www.nationalgeographicla.com/historia/2022/11/que-es-la-etica-y-por-que-es-importante" class="text-blue-500 hover:underline">Etica</a>
    </li>
</ul>
{% endblock %}
