{% extends 'etica_app/base.html' %}

{% block titulo %}Resultado - {{ tema.titulo }}{% endblock %}

{% block contenido %}
<h1 class="text-3xl font-bold mb-6">Resultado del Examen: {{ tema.titulo }}</h1>

<p>Has obtenido una puntuación de <strong>{{ puntaje }} / {{ total_preguntas }}</strong>.</p>
<p>Porcentaje de aciertos: <strong>{{ porcentaje }}%</strong></p>

<a href="{% url 'lista_temas_ejercicios' %}" class="mt-4 inline-block text-blue-500 hover:underline">← Volver a los Temas</a>
{% endblock %}
